/* New overlay for blur effect */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px); /* Blur the background */
  background-color: rgba(255, 255, 255, 0.3); /* Optional white tint */
  z-index: 9999; /* Ensure it appears above all content */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner styles */
.loading2 {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  animation: rotate2 1s infinite linear;
  -webkit-animation: rotate2 1s infinite linear;
}

@keyframes rotate2 {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate2 {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  -webkit-animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
